<div class="container">
    <div class="col-12 my-5 py-5">
        <form action="/docs/document13" method="POST">
            <div class="mb-3">
                <h2 class="text-center">Form to PDF</h2>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Bar Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="barNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Phone Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phoneNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Fax Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="faxNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Email Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="emailAddress" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">INCLUDE ALL NAMES BY WHICH THE DECEASED WAS KNOWN</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading1" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">DECEASED</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading2" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name2" 
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Where the name of the witness is different to the name on the will, the name on the will is also to be referred to,
e.g. Jane Smith formerly Jane Doe. Where a person has a different name, a paragraph should be included accounting
for the difference in the name."
                    data-trigger="focus"
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Occupation</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="occupation" 
                >
            </div>
           <div class="mb-3 col-10">
                <label for="" class="form-label">Status</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="status" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">address of Attesting witness</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address2" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">date of signing of will</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr1"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name and address of
other attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr2"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="All persons signing the will are to be named and accounted for."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">residence
or office of (name of person) and address where the will was executed</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr3"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr4"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">date of signing of will</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr5"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name and address of
other attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr6"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='All persons signing the will are to be named and accounted for.'
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">residence or office of (name of person) and address where the will was executed</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr7"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr8"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">left or right thumb print or X
mark</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr9"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of other attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr10"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr11"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">description of signature</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr12"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="All efforts should be made to describe the signature of the testator as accurately as possible having regard to what is
actually signed by the testator, e.g. Joe Smith signs “JSmith” – the description should be recorded as “JSmith” and not
“Joe Smith”. Similarly if he signs “JoeS” it should be so recorded. It is however noted that some signatures are more
complex than others and due regard will be given to these matters."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr13"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Right/Left 7 thumb print or X mark</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr14"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">left or right thumb print or X mark</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr15"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr16"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">age at death – see death
certificate</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr17"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">description of the signature of the deponent and other attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr18"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='Signatures of the attesting witnesses should be described as accurately as possible having regard to what was
actually signed by the witnesses.'
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr19"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of other attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr20"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of person signing on behalf of testator</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr21"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">reason
testator is unable to sign to be included</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr22"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">or by [name of person reading the will to testator] in my presence, or [by himself in
my presence]</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr23"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='There are cases where a testator may be literate but unable to sign his name due to feebleness and therefore signs
by X mark or has an imperfect or badly written signature. In these cases, this paragraph must be included to satisfy
the court that the testator understood the contents and approved same.'
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Place sworn</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr24"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Commissioner of Affidavits</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr25"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='Please note the Commissioner of Affidavits is to sign, date and stamp all exhibits according to the exhibit numbers
as set out in the affidavit. The Commissioner of Affidavits is also to initial all insertions and corrections made to
every document filed.'
                    data-trigger="focus"
                ></textarea>
            </div>

            <button class="btn btn-primary">Get PDF</button>
        </form>
    </div>
</div>