<div class="container">
    <div class="col-12 my-5 py-5">
        <form action="/docs/document19" method="POST">
            <div class="mb-3">
                <h2 class="text-center">Form to PDF</h2>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                    
                > 
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Bar Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="barNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Phone Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phoneNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Fax Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="faxNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Email Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="emailAddress" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert deceased's name(s)</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="text1" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert deceased’s home address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="text2" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert the deceased’s date of death</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="text3" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert the deceased’s place of death</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="text4" 
                >
            </div>


           <div class="mb-3 col-10">
                <label for="" class="form-label">insert Administrator's Name(s)</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="descr1" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert Administrator's Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="descr2" 
                >
            </div>
            <div class="col-10 mb-3">
                <label for="" class="form-label">Gender</label>
                <select class="form-select" name="gender">
                    <option selected value="man">Man</option>
                    <option value="null">Woman</option>
                </select>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert the value of the estate in words and numbers ($..............)</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr6"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert Administrator's name(s)</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr7"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert/set out the capacity 2 in which application for grant is made (which must agree with that stated in the Oath)</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr8"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='The accepted description of the marital status for a female- spinster, married woman, divorced woman or widow'
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert deceased's name and home address at time of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr9"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert date of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr10"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">insert Administrator's Name(s)</label>
                <textarea class="form-control" id="" rows="3" 
                    name="admin"
                ></textarea>
            </div>

            <button class="btn btn-primary">Get PDF</button>
        </form>
    </div>
</div>