<div class="container">
    <div class="col-12 my-5 py-5">
        <form action="/docs/document16" method="POST">
            <div class="mb-3">
                <h2 class="text-center">Form to PDF</h2>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Bar Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="barNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Phone Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phoneNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Fax Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="faxNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Email Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="emailAddress" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">INCLUDE ALL NAMES BY WHICH THE DECEASED WAS KNOWN</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading1" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">DECEASED</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading2" 
                >
            </div>

            <div class="mb-3 col-10">
                <label for="" class="form-label">name of applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr1"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">address of applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr2"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">date of Will</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr3"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">date of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr4"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">place of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr5"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of the applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr6"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Executor</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr7"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="To be adjusted accordingly to reflect the capacity of the applicant. An executor may be a sole executor, alternate
executor, surviving executor or one of the named executors."
                    data-trigger="focus"
                ></textarea>
            </div>
            

            <button class="btn btn-primary">Get PDF</button>
        </form>
    </div>
</div>