<div class="container">
    <div class="col-12 my-5 py-5">
        <form action="/docs/document14" method="POST">
            <div class="mb-3">
                <h2 class="text-center">Form to PDF</h2>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Bar Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="barNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Phone Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phoneNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Fax Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="faxNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Email Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="emailAddress" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">INCLUDE ALL NAMES BY WHICH THE DECEASED WAS KNOWN</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading1" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">DECEASED</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading2" 
                >
            </div>

            <div class="mb-3 col-10">
                <label for="" class="form-label">GUIDE APPLICATION FOR GRANT OF ADMINISTRATION 1</label>
                <textarea class="form-control" id="" rows="3" 
                    name="title"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Where the application is for a second or subsequent grant the application will be for Letters of Administration de
Bonis Non. This is also to be adjusted in the body of the application front."
                    data-trigger="focus"
                ></textarea>
            </div>
            
            
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr1"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">address of applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr2"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr3"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">date of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr4"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">place of death</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr5"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">capacity of the
applicant</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr6"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Examples include: \n “
                        • the son/daughter of the deceased and one of/only the person(s) entitled to share in the estate”
                        •
                        “the father/mother of the deceased and one of/only the person(s) entitled to the estate”
                        •
                        “the brother (or sister) of the whole blood (or half blood) and one of/only the person(s) entitled to share in the estate”
                        •
                        “ the lawful attorney by means of Power of Attorney of John Doe, the residuary devisee and/or legatee named in the will
                        of …”
                        •
                        “statutory guardian and for the use and benefit of Baby Jane Doe the daughter and person entitled to the estate who is a
                        minor”"
                    data-trigger="focus"
                ></textarea>
            </div>
            

            <button class="btn btn-primary">Get PDF</button>
        </form>
    </div>
</div>