<div class="container">
    <div class="col-12 my-5 py-5">
        <form action="/docs/document1" method="POST">
            <div class="mb-3">
                <h2 class="text-center">Form to PDF</h2>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Bar Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="barNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Phone Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phoneNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Fax Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="faxNumber" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Email Address</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="emailAddress" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">INCLUDE ALL NAMES BY WHICH THE DECEASED WAS KNOWN</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading1" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">DECEASED</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="heading2" 
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name2" 
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Where there are variations to the applicant's name, either in spelling or the way it appears on documents or the
will e.g. Jane Smith is applying but Janet Smith appears on the will, an affidavit of alias by an independent person
(who is either older than or close in age to the applicant) is to be filed." 
                    data-trigger="focus"
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Occupation</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="occupation" 
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="This is only required for male applicants." 
                    data-trigger="focus"
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">address of executor</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="address2" 
                    
                >
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name of deceased as on the will
and all other names by which the deceased was known</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr1"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Where there are typographical errors (e.g. Basdaye/Basdai/Basday/Basdaie) in the deceased's name appearing on
documents or otherwise, all typographical errors must be stated (and searched) and each must be properly explained
by the applicant i.e. an explanation is required to account for the differences.
Where there are different names for the deceased and no nexus between the names (e.g. Basdeo Persad also called
Andre Jones) an affidavit of alias by an independent person (who is either older than or close in age to the deceased)
is to be filed." 
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Place of death as appears on the death certificate</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr2"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Date of death as appears on the death certificate</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr3"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Domicile of deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr4"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='If the deceased was not domiciled in Trinidad and Tobago, an affidavit of law is required to be filed. The words
"domicile" and "fixed place of abode" are synonymous, therefore a person cannot be domiciled in Trinidad and
Tobago with a fixed place of abode in another country.' 
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Last address of deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr5"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='If the deceased person was most recently living in an institution, the address of the institution can be used as the
last place of abode but you must indicate what was his last residential address e.g. "John Smith late of Vitas House
239 James Street, Port-of-Spain formerly of 1234 Abercromby Lane, Port-of-Spain".' 
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name of deceased as appears on the death certificate</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr6"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">initials of executor 1</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr7"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Executor</label>
                <textarea class="form-control" id="" rows="3" 
                    name="executor"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title='To be adjusted accordingly to reflect the capacity of the applicant. An executor may be a sole executor, alternate
executor, surviving executor or one of the named executors.".' 
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="deceased"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Where there are more than one executors named in the Will of the deceased, all executors (a maximum of four)
must make the application. An executor who is not a part of the application must be accounted for by the provision
of a death certificate or renunciation. For situations where an executor is not deceased or refuses to renounce, power
may be reserved to him in the oath. Where power is to be reserved the oath should state “… with power reserved to
(name of executor(s)), the other named of other executor(s), to come in and apply for a like grant”"
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">name of attesting witness</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr8"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">exhibit number or letter</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr9"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Exhibit number or letter shall correspond with the exhibit number or letter as stated in the attesting witness affidavit."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">And codicil if applicable</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr10"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Name of Deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr11"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">State date of will and codicil if applicable</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr12"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">If a previous application was made details of previous application and information as to withdrawal or if granteddate of revocation of grant to be stated</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr13"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">If a previous application was made details of previous application and information as to withdrawal or if granteddate of revocation of grant to be stated</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr141"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="This is required if the deceased was female."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">If a previous application was made details of previous application and information as to withdrawal or if granteddate of revocation of grant to be stated</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr142"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="This is required if the deceased was male."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">this is only to be done if 3
years has elapsed since the death of the deceased.</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr15"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Initials of executor 2</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr16"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Same value as on the inventory</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr17"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Value of the estate is to be at the date of death of deceased person."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">State names of deceased</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr18"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Only state the names in which you would like the grant to be issued, this may or may not include all the names in
which the search was done."
                    data-trigger="focus"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">State names of the executor</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr19"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Place sworn</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr20"
                ></textarea>
            </div>
            <div class="mb-3 col-10">
                <label for="" class="form-label">Commissioner of Affidavits</label>
                <textarea class="form-control" id="" rows="3" 
                    name="descr21"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please note the Commissioner of Affidavits is to sign, date and stamp all exhibits according to the exhibit numbers
as set out in the affidavit. The Commissioner of Affidavits is also to initial all insertions and corrections made to
every document filed."
                    data-trigger="focus"
                ></textarea>
            </div>
            <button class="btn btn-primary">Get PDF</button>
        </form>
    </div>
</div>