<div class="container mt-5">
    <div class="col-10 m-auto">
        <h1 class="text-primary">Free Affidavit Forms</h1>
        <h2>Use our Affidavit forms to swear to the truthfulness of a statement or fact. Select the type of affidavit that you need</h2>
    </div>

    <div class="col-10 m-auto text-center">
        <form action="/docs/select" method="POST">
            <select class="form-select my-5" name="number">
                <option value="1" selected>1. Guide Affidavit of executor - Grant of Probate</option>
                <option value="2">2. Guide Affidavit of attorney of executor - Letters of Administration with Will Annexed</option>
                <option value="3">3. Guide Affidavit of residuary beneficiary - Letters of Administration with Will Annexed</option>
                <option value="4">4. Guide Affidavit of beneficiary - Letters of administration with Will Annexed</option>
                <option value="5">5. Guide Affidavit of the spouse - Letters of Administration</option>
                <option value="6">6. Guide Affidavit of the Attorney of spouse - Letters of Administration</option>
                <option value="7">7. Guide Affidavit of adult child of deceased - Letters of Administration</option>
                <option value="8">8. Guide Affidavit of the parent of the deceased - Letters of Administration</option>
                <option value="9">9. Guide Affidavit of the sibling of the deceased - Letters of Administration</option>
                <option value="10">10. Affidavit of the residuary devisee where the executor dies after obtaining a grant of probate - Letters of Administration De Bonis Non with Will Annexed</option>
                <option value="11">11. Guide Affidavit of Applicant - Resealing (Commonwealth Countries)</option>
                <option value="12">12. Affidavit of applicant – Person died domiciled in non-commonwealth country e.g. USA and grant obtained in non-commonwealth country1</option>
                <option value="13">13. Attesting Witness Affidavit</option>
                <option value="14">14. GUIDE APPLICATION FOR GRANT OF ADMINISTRATION</option>
                <option value="15">15. APPLICATION FOR LETTERS OF ADMINISTRATION WITH WILL ANNEXED</option>
                <option value="16">16. APPLICATION FOR GRANT OF PROBATE</option>
                <option value="17">17. APPLICATION FOR RESEALING</option>
                <option value="18">18. Guide Administration Bond - Intestacy</option>
                <option value="19">19. Guide Administration Bond – Deceased died testate</option>
            </select>
            <button class="btn btn-lg btn-primary">Create Document</button>
        </form>
    </div>
</div>